{{> navbar }}

<link rel="stylesheet" href="/style/homePage.css">

<div class="super">
  <a href="/hero/join" class="box red">
    <div class="content-red">
      <lottie-player
        class="hero"
        src="https://assets4.lottiefiles.com/private_files/lf30_xvv979kl.json"
        background="transparent" speed="1" autoplay style="width: 750px; height: 750px; transform: rotate(18deg)"
        loop>
      </lottie-player>
    </div>
    <div class="card-text-red">
      <p>
        Want to join our forces ?
      </p>
    </div>
  </a>
  <a href="/town/join" class="box blue">
    <div class="content-blue">
      <lottie-player
        class="house"
        src="https://assets3.lottiefiles.com/private_files/lf30_qfo5v4ih.json"
        background="transparent" speed="1" style="width: 500px; height: 500px"
        autoplay loop>
      </lottie-player>
      <div class="card-text-blue">
        <p>
          Want to secure your town ?
        </p>
      </div>
    </div>
  </a>
</div>
