{{#ifNotEquals title "Map"}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr84h53LrCoCcX7IWSTIB02ljDrBlJ7KE&libraries=places&callback=initialize" async defer></script>
{{/ifNotEquals}}

<div class="form-floating">
  <input class="form-control" name="address" type="text" id="addressInput" placeholder="Enter an address">
  <label for="addressInput">Address</label>
</div>

<script>
  function initialize() {
    let input = document.getElementById('addressInput');
    let autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      let place = autocomplete.getPlace();
      document.getElementById('latitude').value = place.geometry.location.lat();
      document.getElementById('longitude').value = place.geometry.location.lng();
      if (document.getElementById('cityName') !== null) {
        document.getElementById('cityName').value = place.vicinity;
      }
    });
    google.maps.event.addDomListener(input, 'focus', function () {
      let pacContainer = document.getElementsByClassName('pac-container');
      pacContainer[0].setAttribute('style', 'z-index: 9999 !important');
    });

  }
  {{#ifEquals title "Map"}}
    window.addEventListener('load', initialize)
  {{/ifEquals}}
  </script>