<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GuacaShield</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>
    <div class="m collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-10 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#ifEquals title "Home"}}active{{/ifEquals}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEquals title "About"}}active{{/ifEquals}}" href="/about">About</a>
        </li>
        <li class="nav-item">
          {{#if this.user}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                {{#ifEquals this.user.type "city"}}
                  <li><span class="text-center">Town</span></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/town/map">Dashboard</a></li>
                {{else ifEquals this.user.type "admin"}}
                  <li><span class="text-center">Admin</span></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
                {{else ifEquals this.user.type "hero"}}
                  <li><span class="text-center">Super Hero</span></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/hero/map">Dashboard</a></li>
                {{/ifEquals}}
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          {{else}}
            <a class="nav-link" href="/login">Login</a>
          {{/if}}
      </ul>
    </div>
  </div>
</nav>